link(rel="stylesheet", href="/stylesheets/slide.css?t="+sst)
div(id="slide" class="slide")
    ul
        for item in carousel
            li
                img(src=item.img id="no-view")
    div
        span(class="prev_btn")= "<"
        span(class="next_btn")= ">"
script(src="/javascripts/slide.js?t="+sst)

