link(rel="stylesheet", href="/stylesheets/slide.css?t="+sst)
div(id="slide" class="slide")
    ul
        for item in carousel
            li
                a(href=item.link target="_blank")
                    img(data-src=item.img id="no-view" src="/images/loading.gif?t="+sst)
    div
        span(class="prev_btn")= "<"
        span(class="next_btn")= ">"
script(src="/javascripts/slide.js?t="+sst)

