div(class="comment")
    div(class="comment_area")
    div(class="editor-area")
        div(class="pre_content" id="pre_com" data-pre="")
        div(class="c_editor" id="c_content")
    section(class="auth-section")
        div(class="input-wrapper")
            input( type="text" name="author" id="c_nick" placeholder="昵称" value="")
        div(class="input-wrapper")
            input( type="email" name="email" id="c_mail" placeholder="邮箱" value="")
        div(class="input-wrapper")
            input( type="text" name="web" id="c_link" placeholder="网站 (可选)" value="")
        div(class="post-action")
            button(type="button" class="c_submit" id="c_submit")="回复"
    div(id="comment")
        include load