header(class="header")
    div(class="head-content")
        a(href="/" class="logo")
        a(class="btn" target="_blank" href="/create")="写文章"
        a(class="normol-head" href="/archives")= "归档"
        a(class="normol-head" href="/post/link")= "友链"
        form(action="/search" accept-charset="UTF-8" method="get" class="normol-head")
            input(type="text" name="s" id ="s" placeholder="搜索" class="search-input")