div(class="post-aside")
    div(class="ads")
        a(class="ads-link" href="https://www.vultr.com/?ref=7772625-4F" target="_blank")
            img(class="ads-img" src="/images/aside-ads.jpg" id="no-view")
    div(class="qrcode")
        img(src="" id="qrcode")
        div="扫描左边二维码在手机上阅读，喜欢本文的朋友可以转发并分享！谢谢支持"
    div(class="site-info")
        ul
            each foo in site.footer
                a(target="_blank" href=foo.link)= foo.desc