script(src="/javascripts/jQuery.min.js?t="+sst)
script(src="/javascripts/tag_create.js?t="+sst)
script(src="/javascripts/view-image.min.js?t="+sst)
script.
    jQuery(document).ready(function () {
            jQuery.viewImage({
                'target' : 'img', //需要使用ViewImage的图片
                'exclude': '#no-view',    //要排除的图片
                'delay'  : 300                //延迟时间
            });
        });