script.
    var tagcloud = document.getElementById('tagcloud');
    if(tagcloud != null){
        $.ajax({
        url: '/gettags',
        type: 'get',
        success: function(data){
            if(data.code === 200){
                var tags = data.data;
                for(var i in tags){
                    if(tags[i]!=""){
                        var node = document.createElement("a");
                        node.setAttribute('style', 'font-size: 16px;');
                        node.setAttribute('href', '/tag/' + tags[i]);
                        node.innerHTML = '<div class="tag_img" style="background-image:url(https://image.idealli.com/tags/'+ tags[i] +'.png);"></div>' + tags[i];
                        tagcloud.appendChild(node);
                    }
                }
            }   
        }
        });
    }