doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="icon" type="image/png" sizes="32x32" href="/images/logo4.png")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    script(src="http://www.qq.com/404/search_children.js")