<link rel="stylesheet" href="https://api.flycode.co/disqus/dist/iDisqus.min.css" />
div(class="comments" id="comments")
script(src="https://api.flycode.co/disqus/dist/iDisqus.min.js")
script.
    var disq = new iDisqus('comments', {
        forum: 'lan-zhou-xiao-hong-ji',
        site: '',
        api: 'https://api.flycode.co/disqus/api',
        mode: 1,
        badge: '博主',
        timeout: 3000,
        init: true
    });
    disq.count();