doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="icon" type="image/png" sizes="32x32" href="/images/logo4.png?t="+sst)
    script(async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
    script.
        (adsbygoogle = window.adsbygoogle || []).push({
              google_ad_client: "ca-pub-9337382035066908",
              enable_page_level_ads: true
        });
    block head_content
    link(rel='stylesheet', href='/stylesheets/style.css?t='+sst)
  body
    include partails/header
    block content
    script(src="/javascripts/jQuery.min.js?t="+sst)
  include partails/tags
  script(src="/javascripts/view-image.min.js?t="+sst)
  script(type="text/javascript" src="/third-part/highlight/highlight.pack.js?t="+sst)
  script.
    jQuery(document).ready(function () {
          jQuery.viewImage({
              'target' : 'img', //需要使用ViewImage的图片
              'exclude': '#no-view',    //要排除的图片
              'delay'  : 300                //延迟时间
          });
      });
    $(function(){
      $('pre').each(function(i, block) {
          hljs.highlightBlock(block);
      });
    });
    $("#like1").click(function(){
        $.get("/like-add", function(status){
            if(status.code==1){
              alert("谢谢你的喜欢！！")
            }
        });
    });
  include partails/footer