doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="icon" type="image/png" sizes="32x32" href="/images/logo4.png")
    block head_content
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    include partails/header
    block content
  script(src="/javascripts/jQuery.min.js")
  include partails/tags
  script(src="/javascripts/view-image.min.js")
  script(type="text/javascript" src="/highlight/highlight.pack.js")
  script.
    jQuery(document).ready(function () {
          jQuery.viewImage({
              'target' : 'img', //需要使用ViewImage的图片
              'exclude': '#no-view',    //要排除的图片
              'delay'  : 300                //延迟时间
          });
      });
    $(function(){
      $('pre code').each(function(i, block) {
          hljs.highlightBlock(block);
      });
    });
    include partails/footer