body{
    background-image:url(/images/1029bg.jpg);
    background-position: right bottom;
    background-size: auto 80%;
    background-repeat: no-repeat;
    height: 100%;
}

.post-content{
    width:56%;
    margin: auto;
}

.post-control{
    margin-top: 10px;
}
.post-content input,
.post-control input{
    width: 6em;
    margin-right: 10px;
    outline-style: none ;
    border: 1px solid #ccc; 
    border-radius: 3px;
    font-size: 14px;
    padding: 4px;
    font-weight: 500;
    font-family: "Microsoft soft";
}

.post-control input#img{
    width: 10em;
    margin-left: 10px;
}

.post-control #btn1{
    outline-style: none ;
    border: 1px solid #ccc; 
    border-radius: 3px;
    font-size: 14px;
    padding: 4px;
    font-weight: 500;
    font-family: "Microsoft soft";
    width: 5em;
    background: #8fbae6;
}

.post-content input#title{
    max-width: 780px;
    width: 96%;
    height: 1.6em;
    font-size: 1.4em;
    margin-top: 20px;
    margin-right: unset;
    margin-bottom: 10px;
    color: #555;
}

.post-content .w-e-text-container {
    height: 400px!important;
}

form.login {
    margin-top: 20px;
    margin-left: 0;
    padding: 26px 24px 46px;
    background: #fff;
    width: 320px;
    margin: 100px auto 200px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13);
    box-shadow: 0 1px 3px rgba(0,0,0,.13);
}

form.login input{
    color: #72777c;
    font-size: 14px;
    font-size: 24px;
    width: 100%;
    padding: 3px;
    margin: 2px 6px 16px 0;
}

.footer{
    display: none;
}