html{
  height:100%;
}

body {
  margin: unset;
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
}

*{
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

/*定义滚动条高宽及背景
 高宽分别对应横竖滚动条的尺寸*/
 ::-webkit-scrollbar
 {
    width:8px;
    height:8px;
    background-color:#fff;
 }
 
 /*定义滚动条轨道
  内阴影+圆角*/
 ::-webkit-scrollbar-track
 {
    border-radius:4px;
    background-color:#fff;
 }
 /*定义滑块
  内阴影+圆角*/
  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgb(219 217 217);
}


/* 顶部样式 */

.header{
  background-color: #fff;
  border-color: #f0f0f0;
  top: 0;
  border-width: 0 0 1px;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  min-height: 50px;
  margin-bottom: 20px;
  border-bottom: 1px solid #d6d9e6;
  height: 56px;
  box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}

.header .head-content{
  min-width: 70%;
  max-width: 96%;
  margin: 0 auto;

}

.header a.logo{
  float: left;
  height: 55px;
  padding: 0;
  width: 335px;
  background: url(/images/headerico.png);
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.header a.logo img {
  height: 96%;
}

.header a.btn{
  float: right;
  width: 100px;
  height: 40px;
  line-height: 24px;
  margin: 8px 12px 0;
  border-radius: 20px;
  font-size: 1.3em;
  color: #fff;
  background-color: #ea6f5a;
  padding: 8px 15px;
  text-align: center;
  text-shadow: 1px 1px black,2px 2px black,
                 3px 3px black,4px 4px black, 
                 3px 3px black,4px 4px black, 
                 3px 3px black,4px 4px black;
}

.header .normol-head{
  float: right;
  margin: 11px 6px 0 10px;
  font-size: 1.5em;
  color: #000;
}

.header .container{
  width: 66%;
  height: 58px;
  margin: auto;
}

.container form{
  position: relative;
  top: 9px;
}

input.search-input{
  padding: 0 40px 0 20px;
  width: 160px;
  height: 38px;
  font-size: 14px;
  border: 1px solid #eee;
  border-radius: 40px;
  background: #eee;
  transition: width .5s;
  -moz-transition: width .5s;
  -webkit-transition: width .5s;
  -o-transition: width .5s;
  transition-delay: .1s;
  -moz-transition-delay: .1s;
  -webkit-transition-delay: .1s;
  -o-transition-delay: .1s;
}

.site-info{
  border-radius: 2px;
  margin-bottom: 1.3rem;
  line-height: 1.29;
  color: #333;
  margin-top: 2rem;
  width: 96%;

}

.site-info ul{
  font-size: .8em;
  line-height: 1.6;
  padding: 0;
  margin: 0;
}

.site-info span,
.site-info a{
  color: #645c5ceb;
  text-decoration: none;
  cursor: pointer;
}

/* 顶部结束 */


/* 底部样式 */

footer {
  width: 950px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}

footer col{
  width: 70.83333%;
  display: inline-block;
}
.site-info a,
footer a{
  color: #666666!important;
  display: inline-block;
  margin-right: 12px;
}

footer .icp{
  color: #666666;
}

/* 底部结束 */


.tag-cloud-tags {
  text-align: left;
}

.tag-cloud-tags a {
  border-radius: 4px;
  padding: 2px 5px 6px 4px;
  margin-right: 3px;
  margin-left: 0;
  color: #555 ;
  margin-top: 8px;
  margin-bottom: 0;
  background-color: #f5f7f1;
  border: none;
  text-decoration: none;
  border: unset;
  display: inline-block;
}

.tag_img {
  background-size: contain;
  width: 24px;
  height: 24px;
  margin-right: 3px;
  position: relative;
  top: 5px;
  background-repeat: no-repeat;
  display: inline-block;
  background-position-x: center;
  background-position-y: center;
}

.ads{
  width: 100%;
  overflow: hidden;
}
.ads-img,
.ads-link{
  width: 100%;
  height: auto;
}
.comment{
  overflow: hidden;
}

header .email{
  color:#ea6f5a!important;
  font-weight: 600;
}

.qrcode{
  height: 100px;
  width: 100%;
  margin-top: 10px;
  /* background-image: url(http://qr.topscan.com/api.php?&w=200&text=https://me.idealli.com);
  background-size: auto 100%;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: left; */
  border: 1px solid #ccc;
  border-radius: 5px;
  display: inline-flex;
}

.qrcode img{
  width: 100px;
  height: 100%;
}

.qrcode div{
  width: 100px;
  height: 90%;
  font-size: 12px;
  margin: auto 3px;
  color: #555;
}

@media (max-width: 767px){

  body{
    background: #fff;
  }
/* 顶部样式 */
.header{
  width:100%;
  height: 4em;
  position: inherit;
}
.header form{
  display: none;
}
.header a.logo{
  margin-top: 3px;
  background-image: url(/images/headerico2.png)!important;
  width: 52px;
  height: 52px;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.header a.btn{
  float: right;
  height: 36px;
  line-height: 18px;
  border-radius: 18px;
  text-align: center;
  margin: 8px 2px 0;
  
}

.header .normol-head {
  float: right;
  margin: 11px 2px 0 4px;
  font-size: 1.3em;
  color: #969696;
}

 header .archives{
   display: none;
 }
.index-container{
  padding-top: unset!important;
}
.post-content{
  margin-top: unset;
}
/* 顶部结束 */

/* 底部样式 */
footer{
  width:94%!important;
}
/* 底部结束 */
}

/* loading 样式 */
.loader-inner{height:60px;margin:40px auto;width:100px;position: sticky;}.loader-line-wrap{animation:spin 2000ms cubic-bezier(.175,.885,.32,1.275) infinite;box-sizing:border-box;height:50px;left:0;overflow:hidden;position:absolute;top:0;transform-origin:50% 100%;width:100px}.loader-line{border:4px solid transparent;border-radius:100%;box-sizing:border-box;height:100px;left:0;margin:0 auto;position:absolute;right:0;top:0;width:100px}.loader-line-wrap:nth-child(1){animation-delay:-50ms}.loader-line-wrap:nth-child(2){animation-delay:-100ms}.loader-line-wrap:nth-child(3){animation-delay:-150ms}.loader-line-wrap:nth-child(4){animation-delay:-200ms}.loader-line-wrap:nth-child(5){animation-delay:-250ms}.loader-line-wrap:nth-child(1) .loader-line{border-color:hsl(0,80%,60%);height:90px;width:90px;top:7px}.loader-line-wrap:nth-child(2) .loader-line{border-color:hsl(60,80%,60%);height:76px;width:76px;top:14px}.loader-line-wrap:nth-child(3) .loader-line{border-color:hsl(120,80%,60%);height:62px;width:62px;top:21px}.loader-line-wrap:nth-child(4) .loader-line{border-color:hsl(180,80%,60%);height:48px;width:48px;top:28px}.loader-line-wrap:nth-child(5) .loader-line{border-color:hsl(240,80%,60%);height:34px;width:34px;top:35px}@keyframes spin{0%,15%{transform:rotate(0)}100%{transform:rotate(360deg)}}